.experiencia {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: rgb(206, 207, 187);
}
.container-experiencia {
  width: 100%;
  padding: 2rem;
  margin-top: 5rem;
  line-height: 2.5rem;
  font-size: large;
  margin: 8rem;
}

/* Celular (Pantallas pequeñas hasta 767px) */
@media (max-width: 767px) {
  .container-experiencia {
    width: 100%;
    margin: 0rem;
  }

  .experiencia {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    font-size: small;
  }
}

/* tamaño Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* tamaño Desktop */
@media (min-width: 1024px) {
}
