:root {
  --body-bg-color: rgb(81, 74, 21);
  --text-color: rgb(206, 207, 187);
  --colorh1-color: rgb(215, 211, 211);
  --fondo-proyectos: rgb(81, 74, 21);
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--body-bg-color);
}

h1,
h2 {
  color: var(--colorh1-color);
}

/*titulo del header*/
.titulo {
  display: flex;
  margin: 3rem;
}

/*barra de navegacion*/
.navigation {
  display: flex; /*utiliza flexbox para organizar los elementos hijos en una lista flexible*/
  gap: 3rem; /*establece un espacio entre cada elemento hijo dentro del contenedor flex*/
  list-style: none; /*elimina los puntos de lista predeterminados de los elementos de la lista*/
  justify-content: flex-end; /*alinea los elementos hijos al final del contenedor flx, a la derecha*/
  margin: 0 3rem; /*establece un margen de 0 en la parte superior e inferior y de 3 rem en los lados izquierdo*/
}
/*Enlaces de la barra de navegacion configurados como si fueran botones*/

.navigation li {
  font-size: 1rem;
  width: 100px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(132, 125, 33, 0.832);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

a {
  color: rgb(227, 227, 218);
  text-decoration: none; /*elimina el subrayado de los enlaces*/
}

.main-container {
  display: flex;
  flex-direction: column;
}

/* Celular (Pantallas pequeñas hasta 767px) */
@media (max-width: 767px) {
  .titulo {
    justify-content: center;
  }
  .navigation {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

/*Tamaño tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  .titulo {
    justify-content: center;
  }

  .navigation {
    gap: 2rem;
    justify-content: center;
  }
}

/*Tamaño Desktop*/
@media (min-width: 1024px) {
  .titulo {
    justify-content: flex-start;
  }

  .navigation {
    gap: 3rem;
    justify-content: flex-end;
    margin: 0 3rem;
  }
}
