:root {
  --body-bg-color: rgb(81, 74, 21);
  --text-color: rgb(206, 207, 187);
  --colorh1-color: rgb(215,211,211)

}

body{
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--body-bg-color);
  margin-left: 5rem;
  margin-top: 4rem;
}

/*titulo del header*/
.titulo{ 
  


}
/*barra de navegacion*/
.navigation {
  display: flex;/*utiliza flexbox para organizar los elementos hijos en una lista flexible*/
  gap: 3rem;/*establece un espacio entre cada elemento hijo dentro del contenedor flex*/
  list-style: none;/*elimina los puntos de lista predeterminados de los elementos de la lista*/
  justify-content: flex-end;/*alinea los elementos hijos al final del contenedor flx, a la derecha*/
  margin: 0 3rem;/*establece un margen de 0 en la parte superior e inferior y de 3 rem en los lados izquierdo*/

}
/*Enlaces de la barra de navegacion configurados como si fueran botones*/

.navigation li {
  
  font-size: 1rem;
  width: 100px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(132, 125, 33, 0.832);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

a{
  color: rgb(227, 227, 218);
  text-decoration: none;/*elimina el subrayado de los enlaces*/

}

.sobremi{
  display: flex;
  justify-content: center;/*esto centra el elemento*/

}
.container-sobremi{
  display: flex;
  width: 50%; /*ancho*/
  padding: 2rem;
  margin-top: 5rem; /*margen a lo alto*/
  line-height: 2.5rem; /*espaciado entre los parrafos del texto*/
  font-size: large; /*tamaño de la fuente*/
  color: rgb(186, 182, 147);
  gap: 5rem;/*separcion de la imagen con el texto*/
  align-items: center;/*centrar la imagen con el texto*/

}

.img-perfil{
  border-radius: 50%;/*hacemos la imagen redonda*/
}
.experiencia, .estudios {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: rgb(206, 207, 187);
}
.container-experiencia, .container-estudios{
  width: 100%;
  padding: 2rem;
  margin-top: 5rem;
  line-height: 2.5rem;
  font-size: large;
  margin: 8rem;
}
/* Celular (Pantallas pequeñas hasta 767px) */
@media (max-width: 767px) {
      .titulo {
          justify-content: center;
      }
      .navigation {
          flex-direction: column;
          gap: 1rem;
          align-items: center;
      }
      .container-sobremi {
          width: 100%;
          padding: 1;
          margin-top: 1rem;/*margen a lo alto*/
          line-height: 2.5rem;/*espaciado entre los parrafos del texto*/
          font-size: small; /*tamaño de la fuente*/
          flex-direction: column;/*en modo celular la imagen se vera sobre el texto*/
      }
      .container-experiencia, .container-estudios {
          width: 100%;
          margin: 0rem;
      }
      
      .experiencia, .estudios {
          width: 100%;
          padding: 1rem;
          margin-top: 1rem;
          font-size: small;
      }
  }
