* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  text-align: center; /* Centrar el contenido del header */
}

.title-principal {
  margin-top: 20px;
  margin-bottom: 30px; /* Eliminar el margen inferior del h1 para un mejor centrado */
}

.img {
  display: inline-block; /* Asegurarse de que la imagen sea un bloque para centrarla correctamente */
  float: right;
  margin-left: 25px; /* Centrar la imagen horizontalmente */
  margin-right: 10px;
  padding: 10px;
  width: 200px;
}

.img2 {
  display: inline-block; /* Asegurarse de que la imagen sea un bloque para centrarla correctamente */
  margin-left: -780px;
  /* Centrar la imagen horizontalmente */
  padding: 10px; /* Añadir un relleno para separar la imagen del borde de la página */

  width: 300px;
}

.navigation {
  text-align: left; /* Alinear el texto de la lista a la izquierda */
  margin-top: 20px; /* Añadir un margen superior para separar la lista del resto del contenido */
}

.subTitle {
  margin: 40px; /* Eliminar el margen superior del subtítulo */
  font-size: 35px;
}

.name-list {
  list-style: none; /* Eliminar los estilos de viñetas de la lista */
  margin: 15px 300px; /* Eliminar cualquier margen en los elementos de la lista */
  padding: 5px 0; /* Añadir un poco de espacio entre los nombres */
  font-size: 20px;
}
